<div xmlns:th="http://www.thymeleaf.org" class=" header header-index">
    <div class="layui-main" style="background: #393D49">
        <a class="logo" href="/">
            <img th:src="@{/static/img/logo.png}" alt="layui"/>
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="/#"> 首页 </a>
            </li>


            <li class="layui-nav-item ">
                <a href="/#"> APP开发 </a>
            </li>

            <li class="layui-nav-item ">
                <a href="/#"> 网站建设 </a>
            </li>


            <li class="layui-nav-item ">
                <a href="/#"> 小程序定制 </a>
            </li>

            <li class="layui-nav-item ">
                <a href="/#"> 产品案例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/#"> 关于我们 </a>
            </li>

        </ul>
    </div>
</div>
