<div xmlns:th="http://www.thymeleaf.org" class=" header header-index">
    <div class="layui-main" style="background: #393D49">
        <a class="logo" href="/">
            <img th:src="@{/static/img/logo.png}" alt="layui"/>
        </a>
        <ul class="layui-nav">
            <li class="layui-nav-item layui-this">
                <a href="/doc/">文档</a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>

            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>
            <li class="layui-nav-item ">
                <a href="/demo/">示例 </a>
            </li>

        </ul>
    </div>
</div>
