<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title th:text="${title}"></title>
    <link th:href="@{/static/css/layui.css}" rel="stylesheet">
    <link th:href="@{/static/css/base.css}" rel="stylesheet">

</head>


<body>

    <div th:include="head.html"></div>

    <div class="layui-carousel" id="test1">
        <div carousel-item>
            <div>条目1</div>
            <div>条目2</div>
            <div>条目3</div>
            <div>条目4</div>
            <div>条目5</div>
        </div>
    </div>

<!--    <div class="alert alert-success" role="alert" th:text="${name}"> </div>-->

    <div class="layui-main" style="border: solid 1px black ;height: 520px ">  </div>



    <div th:include="foot.html"></div>



    <script th:src="@{static/js/jquery.min.js}"></script>
    <script th:src="@{static/js/layui.js}"></script>

    <script>

        layui.use('element', function(){
            var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

            //监听导航点击
            element.on('nav(demo)', function(elem){
                console.log(elem)
                layer.msg(elem.text());
            });
        });

        layui.use('carousel', function(){
            var carousel = layui.carousel;
            //建造实例
            carousel.render({
                elem: '#test1'
                ,width: '100%' //设置容器宽度
                ,arrow: 'none' //始终显示箭头 hover（悬停显示） always（始终显示） none（始终不显示）
                // ,anim: 'updown' //切换动画方式
            });
        });

    </script>

</body>


</html>